{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Bem-vindo à Chocomeire!</h1>
    <p class="lead">Gerencie suas encomendas de doces com praticidade e sabor.</p>
    <img src="{{ url_for('static', filename='home.doces.webp') }}" alt="Doces Chocomeire" class="img-fluid my-4">

    {% if usuario %}
        <p class="mt-3">Olá, {{ usuario.nome }}! Bem-vindo </p>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="btn btn-primary">Entrar</a>
        <a href="{{ url_for('cadastro') }}" class="btn btn-secondary">Cadastrar-se</a>
    {% endif %}
</div>
{% endblock %}