@app.route('/login', methods=['GET', 'POST'])
def login():
    if request.method == 'POST':
        email = request.form.get('email')
        senha = request.form.get('senha')

        # Verificando se o usuário existe no banco de dados
        usuario = User.query.filter_by(email=email).first()

        # Validando senha com check_password_hash()
        if usuario and check_password_hash(usuario.senha, senha):
            session['usuario_id'] = usuario.id  # Armazena o ID na sessão
            flash("Login bem-sucedido!", "success")
            return redirect(url_for('home'))
        else:
            flash("Email ou senha inválidos!", "error")
            return redirect(url_for('login'))

    return render_template('login.html')